In [ ]:
!pip install pycaret

In [ ]:
!pip install markupsafe==2.0.1

In [1]:
from pycaret.classification import *

/usr/local/lib/python3.7/dist-packages/distributed/config.py:20: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  defaults = yaml.load(f)

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
train = pd.read_csv('./drive/MyDrive/LG_Aimer/train.csv')
test = pd.read_csv('./drive/MyDrive/LG_Aimer/test.csv')
meta_x_features= pd.read_csv('./drive/MyDrive/LG_Aimer/meta/x_feature_info.csv')
meta_y_features= pd.read_csv('./drive/MyDrive/LG_Aimer/meta/y_feature_info.csv')

from sklearn.linear_model import LinearRegression
from sklearn.multioutput import MultiOutputRegressor
import random
import os
def seed_everything(seed):
    random.seed(seed)
    os.environ['PYTHONHASHSEED']=str(seed)
    np.random.seed(seed)
seed_everything(42)

In [22]:
train_df = pd.read_csv('./drive/MyDrive/LG_Aimer/train.csv')
drop_sensors = ['ID','X_04', 'X_23', 'X_47', 'X_48']
train_df= train_df.drop(labels = drop_sensors,axis=1, inplace=False)
train_x = train_df.filter(regex='X') # Input : X Featrue
train_y = train_df.filter(regex='Y') # Output : Y Feature

train_01 = pd.concat([train_x, train_y['Y_01']], axis=1)
train_02 = pd.concat([train_x, train_y['Y_02']], axis=1)
train_03 = pd.concat([train_x, train_y['Y_03']], axis=1)
train_04 = pd.concat([train_x, train_y['Y_04']], axis=1)
train_05 = pd.concat([train_x, train_y['Y_05']], axis=1)
train_06 = pd.concat([train_x, train_y['Y_06']], axis=1)
train_07 = pd.concat([train_x, train_y['Y_07']], axis=1)
train_08 = pd.concat([train_x, train_y['Y_08']], axis=1)
train_09 = pd.concat([train_x, train_y['Y_09']], axis=1)
train_10 = pd.concat([train_x, train_y['Y_10']], axis=1)
train_11 = pd.concat([train_x, train_y['Y_11']], axis=1)
train_12 = pd.concat([train_x, train_y['Y_12']], axis=1)
train_13 = pd.concat([train_x, train_y['Y_13']], axis=1)
train_14 = pd.concat([train_x, train_y['Y_14']], axis=1)

여기부터 숫자 잘 바꾸고 y값 pass nonpass 범위 수정하시면 됩니다!

In [23]:
df1 = train_01.copy()
df1=df1[(df1['Y_01']>=0.2)&(df1['Y_01']<=2.0)]
for idx in range(0,39607):
    if idx in df1.index:
        train_01.loc[idx,'pass']=1
    else:
        train_01.loc[idx,'pass']=0

In [24]:
train_01 = train_01.drop('Y_01', axis=1)

In [25]:
train_01

,X_01,X_02,X_03,X_05,X_06,X_07,X_08,X_09,X_10,X_11,...,X_46,X_49,X_50,X_51,X_52,X_53,X_54,X_55,X_56,pass
0,70.544,103.320,67.47,101.892,74.983,29.45,62.38,245.71,0.0,0.0,...,1463,9706.03,137.043591,135.359219,147.837968,134.313475,125.605427,136.721425,125.028256,0.0
1,69.524,103.321,65.17,101.944,72.943,28.73,61.23,233.61,0.0,0.0,...,1463,10423.43,133.736691,135.979817,149.924692,123.630583,127.893337,143.322659,124.877308,1.0
2,72.583,103.320,64.07,103.153,72.943,28.81,105.77,272.20,0.0,0.0,...,1468,10948.53,132.805112,131.055355,146.814592,128.939070,127.012195,140.395688,122.238232,1.0
3,71.563,103.320,67.57,101.971,77.022,28.92,115.21,255.36,0.0,0.0,...,1469,15007.03,134.138760,133.239422,139.720132,132.260824,130.723186,147.624829,134.875225,1.0
4,69.524,103.320,63.57,101.981,70.904,29.68,103.38,241.46,0.0,0.0,...,1469,11051.03,142.728970,136.620022,134.853555,134.760252,125.647793,139.331105,123.272762,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39602,66.465,103.320,62.27,103.150,66.825,30.20,77.83,298.05,0.0,0.0,...,1469,60630.73,129.965741,130.807148,133.481737,125.273130,121.780933,133.780110,129.029812,1.0
39603,66.465,103.321,62.77,102.021,66.825,29.21,102.25,270.67,0.0,0.0,...,1458,60763.43,127.633885,120.158764,142.667802,122.465490,122.987209,143.090741,122.811413,1.0
39604,68.504,103.320,64.67,103.144,68.864,29.96,102.61,198.07,0.0,0.0,...,1459,8813.33,132.501286,136.893025,134.419328,129.115431,130.920147,140.489232,119.166699,1.0
39605,66.465,103.320,63.67,102.025,67.845,30.30,112.60,275.52,0.0,0.0,...,1469,62222.33,128.189679,121.495930,141.288011,130.141676,125.518825,136.603634,124.525929,1.0
39606,66.465,103.320,65.67,102.004,69.884,30.16,112.90,276.06,0.0,0.0,...,1462,62172.23,135.096272,122.988476,142.019357,123.752157,130.648365,139.695370,136.714504,1.0

In [ ]:
clf = setup(data=train_01, target='pass', train_size=0.8, session_id=42,numeric_features=['X_01', 'X_02', 'X_03', 'X_05', 'X_06', 'X_07', 'X_08', 'X_09', 'X_10',
       'X_11', 'X_12', 'X_13', 'X_14', 'X_15', 'X_16', 'X_17', 'X_18', 'X_19',
       'X_20', 'X_21', 'X_22', 'X_24', 'X_25', 'X_26', 'X_27', 'X_28', 'X_29',
       'X_30', 'X_31', 'X_32', 'X_33', 'X_34', 'X_35', 'X_36', 'X_37', 'X_38',
       'X_39', 'X_40', 'X_41', 'X_42', 'X_43', 'X_44', 'X_45', 'X_46', 'X_49',
       'X_50', 'X_51', 'X_52', 'X_53', 'X_54', 'X_55', 'X_56'])
compare_models()